@use "../main" as *;

.homepage-container {
	// background-color: #6f6965;
	height: calc(100vh - 3.6rem);
}

.search-bar {
	margin-top: 2em;
}

.search-bar .button {
	background-color: #6f6965 !important;
}

.recipe-container {
	background-color: #6f6965;
	overflow: auto;
	height: 60rem;
	padding: 10px;
}

// .homepage-container {
// 	height: auto;
// 	display: flex;
// 	flex-direction: column;
// }

// .footer {
// 	background-color: pink;
// }
@media screen and (max-width: 1023px) {
	.column {
		margin: 1.5em;
	}
}
