@use "../main" as *;

body,
html {
	height: 100%;
	margin: 0;
	// background-color: #6f6965;
}

.search-bar {
	margin-top: 2em;
}

.search-bar .button {
	background-color: #6f6965;
}
.card-content {
	height: 4em;
}

.image {
	overflow: hidden;
}

.recipe-container-homepage {
	overflow: auto;
	padding: 10px;
}

.result {
	color: white;
}

.featured {
	color: #6f6965;
	margin-top: 10px;
}

.card-footer {
	background-color: #efa24d;
}

.card-footer-item {
	color: white;
}

// .save-button {
// 	background-color: #6f6965 !important;
// 	color: white;
// }

.search {
	color: white;
}

@media screen and (max-width: 1023px) {
	.column {
		margin: 1.5em;
	}
}
