.sidebar {
	margin-left: 1em;
	margin-top: 1em;
	color: white;
}

.menu-label {
	color: white;
	font-weight: bolder;
}

.recipe-container-recipepage {
	background-color: white;
	margin: 3rem;
	overflow: auto;
	height: 65rem;
	padding: 2em;
	border: 2px solid #6f6965;
	border-radius: 5px;
	overflow-x: hidden;
}

.modal-content {
	// margin: auto auto;
	z-index: 1100 !important;
}
.modal-backdrop {
	display: none;
	z-index: 1040 !important;
}

.new-recipe {
	margin-top: 1em;
	background-color: #6f6965;
	color: white;
	border: 3px solid;
}
