.sidebar {
	margin-left: 1em;
	margin-top: 1em;
}

.sidebar li a {
	color: black !important;
	font-weight: 100;
}

.menu-list {
	color: white;
}

.menu-label {
	font-weight: bold;
}

.recipe-container-recipepage {
	background-color: white;
	margin: 3rem;
	overflow: auto;
	height: 65rem;
	padding: 2em;
	border: 3px solid white;
	border-radius: 5px;
	overflow-x: hidden;
}

.modal-title {
	padding-left: 0px;
}

.modal-content {
	// margin: auto auto;
	// min-width: 80%;
	z-index: 1100 !important;
}

.modal-backdrop {
	display: none;
	z-index: 1040 !important;
}

.new-recipe {
	margin-top: 1em;
	background-color: rgb(10, 211, 10);
	color: white !important;
	border: 1px solid;
}

.card-footer {
	margin: 5px;
}

.favorite {
	min-width: 60%;
}

#popover-basic h2 {
	font-weight: bold;
}

.popover-content {
	margin-top: -1em;
	margin-bottom: 0.5em;
}

.delete-pop {
	padding: 0px;
	background-color: #00d1b2;
}

.delete-button {
	background-color: #fe4a40;
	color: white;
}

.wideModal {
	min-width: 80%;
}

// .modal-content {
// 	background-color: #6f6965;
// 	color: white !important;
// }
