.sidebar {
	margin-left: 1em;
	margin-top: 1em;
}

.menu-list {
	color: white;
}

.menu-label {
	color: white;
	font-weight: bolder;
}

.recipe-container-recipepage {
	background-color: white;
	margin: 3rem;
	overflow: auto;
	height: 65rem;
	padding: 2em;
	border: 2px solid #6f6965;
	border-radius: 5px;
	overflow-x: hidden;
}

.modal-content {
	// margin: auto auto;
	z-index: 1100 !important;
}
.modal-backdrop {
	display: none;
	z-index: 1040 !important;
}

.new-recipe {
	margin-top: 1em;
	background-color: #6f6965;
	color: white;
	border: 3px solid;
}

.card-footer {
	padding: 0px;
}

.card-footer-item {
	padding: 0.1em;
}

.favorite {
	padding-left: 0.5em;
}

.popover-content {
	margin-top: -1em;
	margin-bottom: 0.5em;
}

.popover-button {
	background-color: #fe4a40;
}

.delete-button {
	background-color: #fe4a40;
	color: white;
}

.add-ingredient-button {
	background-color: #efa24d;
	color: white;
}

.create-button {
	background-color: #6f6965;
	color: white;
}

// .modal-content {
// 	background-color: #6f6965;
// 	color: white !important;
// }
