@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// #root,
// body {
// 	background-color: #f0f9f9;
// }

nav {
	background-color: rgb(243 244 246);
}

// .modal-content {
// 	z-index: 1100 !important;
// }

.arrow {
	width: 0;
	height: 0;
}

.arrow-up {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 6px solid black;
}

.arrow-down {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid black;
}

.modal-backdrop {
	display: none;
	z-index: 1040 !important;
}

// @forward "./utils/variables";
// @forward "./utils/components";
// @forward "./utils/layout";
@import "../../node_modules/bulma/bulma.sass";
