$card-header-color: white;
$body-overflow-y: auto;
$menu-item-active-background-color: rgb(82, 167, 82);

// @forward "./utils/variables";
// @forward "./utils/components";
// @forward "./utils/layout";

@import "../../node_modules/bulma/bulma.sass";
